<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--Mantener para la entrega del examen-->
	<connectionStrings>
		<add name="SaludOcupacional" connectionString="Server=.;Database=SaludOcupacional;Integrated Security=true" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>
